@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #EEEFF1;
    padding: 60px 0 120px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-item {
    display: inline-block;
    margin-right: 40px;
}

.nav-link {
    text-decoration-line: none; 
    color: #000000;
    font-weight: 400;
    font-size: 16px;
}

.nav-link-first {
    font-weight: 500;
    color: #34547A;
    font-size: 16px;  
}

.title {
    font-weight: 500;
    font-size: 48px;
    color: #000000;
    margin-top: 100px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 40px;
    line-height: 30px;
}

.button {
    width: 220px;
    height: 60px;
    background-color: #34547A;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    margin-top: 60px;
}

.link {
    text-decoration-line: none; 
    color: #FFFFFF;
}

.section-first {
    text-align: center;
    padding: 70px 0;
}

.description {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #000000;
}

.desc-text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #727272;
    margin-top: 30px;
    line-height: 30px;
}

.projects {
    background-color: #34547A;
    padding: 80px 0;
}

.project {
    display: inline-block;
    text-align: center;
}

.img-text {
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    margin-left: 10px;
    margin-right: 99px;
}

.img-text-last {
    margin-right: 0;
}

.section-second {
    background-color: #EEEFF1;
    padding: 70px 0;
}

iframe {
    display: block;
    margin: 60px auto 0 auto;
}

.footer {
    background-color: #34547A;
    padding: 40px 0;
}

.footer-title {
    font-size: 21px;
    font-weight: 500;
    color: #FFFFFF;
}

.footer-text {
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 15px;
}