@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;1,700&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
}

.header {
    background-color: #F9F6F5;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.header-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.logo__link {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: #222222;
    border-bottom: 2px solid;
}

.nav__item {
    display: inline-block;
    margin-right: 40px;
}

.nav__item_last {
    margin-right: 0;
}

.nav__link {
    font-size: 16px;
    font-weight: 400;
    color: #222222;
}

.btn-group__item {
    display: inline-block;
    margin-right: 24px;
    height: 24px;
    width: 24px;
}

.btn-group__item_type_profile {
    background-image: url(./images/icons/Profile.svg);
}
 
.btn-group__item_type_cart {
     background-image: url(./images/icons/Cart.svg);
}
 
.btn-group__item_type_menu {
     background-image: url(./images/icons/Menu.svg);
}

.best-prod {
    background-color: #F9F6F5;
}

.bg-container {
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(./images/cosmetics.png);
    background-repeat: no-repeat;
    background-position: 108% 90%;
}

.best-prod__wrap {
    padding: 108px 0;
}

.title {
   font-size: 56px; 
   font-weight: 500;
   line-height: 70px;
   color: #000000;
}

.title_best-prod {
    margin-bottom: 30px;
}

.text {
   font-size: 20px; 
   font-weight: 400;
   line-height: 32px;
   color: #555555;
}

.text_best-prod {
    margin-bottom: 30px;
}

.search {
    position: relative;
}

.search__form {
    height: 48px;
    width: 326px;
    padding-left: 16px;
    color: #999999;
}

.search__btn {
    position: absolute;
    left: 286px;
    top: 8px;
}

.btn {
    display: block;
    width: 148px;
    height: 56px;
    background-color: #402F2C;
    text-align: center;
    box-sizing: border-box;
}

.btn__shop-now {
    padding: 19px 0;
    margin-top: 60px;
}

.btn__link {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.partners__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 42px 0;
    margin: 130px 0;
}

.title_pop-prod {
    margin-bottom: 20px;
}

.text_pop-prod {
    margin-bottom: 60px;
}

.pop-prod__about {
    display: flex;
    justify-content: space-between;  
}

.pop-prod__link {
    font-size: 24px;
    font-weight: 500;
    color: #222222;
    text-decoration: underline;
    position: relative;
    right: 30px;
}

.pop-prod__link::after {
    content: url(./images/icons/Arrow1.svg);
    height: 24px;
    width: 24px;
    position: absolute;
    margin-left: 8px;
}

.prod-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

.card__title {
    font-size: 40px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 20px;
    margin-top: 16px;
    margin-left: 32px;
    line-height: 60px;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    color: #222222;
    line-height: 32px;
    margin-bottom: 30px;
    margin-left: 32px;
}

.card__buy-prod {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 47px 44px 32px 32px;
}

.card__btn {
    display: flex;
    justify-content: space-between;
}

.card__link-buy {
    display: inline-block;
    width: 137px;
    height: 56px;
    background-color: #402F2C;
    text-align: center;
    box-sizing: border-box;
    padding: 18px 32px;
    margin-right: 24px;
    color: #EEEEEE;
    font-size: 18px;
    font-weight: 500;
}

.card__link-add {
    display: inline-block;
    width: 137px;
    height: 56px;
    background-color: transparent;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    padding: 18px 0;
    color: #685A52;
    font-size: 18px;
    font-weight: 500;
}

.card__price {
    font-size: 30px;
    font-weight: 500;
}

.card {
    border: 1px solid #EEEEEE;
}